<div>
  You should go to: 
</div>

<div class="location">
  <div class="link">
    <a href="<%= @local[:canonicalUrl] %>">
      <%= @local.name %>
    </a>
  </div>
  <div class="address">
    <%= @local.location.address %>, <%= @local.location.city %>
  </div>
  <div class="help">
    <%= link_to "Wait, that's nowhere near me.", "/main/help"%>
  </div>
</div>
