<!DOCTYPE html>
<html>
<head>
  <title>SettleForUs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="content">
      <span id="logo">
        <%= image_tag("/images/settle_for_us.png")%>
      </span>
        <span id="loginout">
        <% if current_user != nil %>
          Hello, <%= current_user[:name] %>.
          <span id="logout">
            <%= link_to "Logout", "/sessions/logout" %>
          </span>
        <% else %>
          <%= link_to("Login", "/auth/foursquare")  %>
          <%= link_to(image_tag("/images/4square_logo.png"), "/auth/foursquare")%>
        <% end %>
      </span>
    </div>
  </div>

  <div id="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
