<!DOCTYPE html>
<html>
<head>
  <title>SettleForUs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content">
  
  <div id="header">
    settle for.us
  </div>

  <div id="menu">
    <% if current_user != nil %>
      <a href="#" onclick="javascript:do_settle()">Settle</a>
      <span id="session">
        <%= link_to "Logout", "/sessions/logout" %>
      </span>
    <% else %>
      <span id="session">
        <%= link_to(image_tag("/images/4square_logo.png"), "/auth/foursquare")%>
        <%= link_to("Login with Foursquare", "/auth/foursquare")  %>
      </span>
    <% end %>
  </div>

  
  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
      Onuki &copy; 2013
      <span id="powered">
        <%= image_tag("/images/poweredByFoursquare_white.png", {:height => '20'})%>
      </span>
  </div>

    </div>

  
</body>
</html>
