<!DOCTYPE html>
<html>
<head>
  <title>SettleForUs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
  <% if current_user != nil %>
    <%= current_user.to_yaml %>
    <%= link_to "Logout", "/sessions/logout" %>
  <% else %>
    <%= link_to "Sign in with 4^2", "/auth/foursquare" %>
  <% end %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
